.card{
    color: black;
    margin-bottom: 1%;
    &:hover{
        background-color: #272a2e !important;
    }
}

.col-lg-4 {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    &:hover {
        top: -10px;
        img {
            opacity: 1; 
            position: relative;
            transition: transform 0.5;
            transform: scale(1.1);
            top: -5px;
        }
    }
    img {
        opacity: 0.6; 
        &:hover {
            opacity: 1;
        }
    }
}
